/*
 * ProWritingAid API V2
 * Official ProWritingAid API Version 2
 *
 * OpenAPI spec version: v2
 * Contact: hello@prowritingaid.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package ProWritingAid.SDK;

import ProWritingAid.ApiCallback;
import ProWritingAid.ApiClient;
import ProWritingAid.ApiException;
import ProWritingAid.ApiResponse;
import ProWritingAid.Configuration;
import ProWritingAid.Pair;
import ProWritingAid.ProgressRequestBody;
import ProWritingAid.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import ProWritingAid.SDK.AsyncResponseTextAnalysisResponse;
import ProWritingAid.SDK.TextAnalysisRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TextApi {
    private ApiClient apiClient;

    public TextApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TextApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for get
     * @param taskId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCall(String taskId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/api/async/text/result/{taskId}"
            .replaceAll("\\{" + "taskId" + "\\}", apiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "licenseCode" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getValidateBeforeCall(String taskId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling get(Async)");
        }
        
        
        com.squareup.okhttp.Call call = getCall(taskId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Tries to get the result of a request using the task id of the request
     * Tries to get the result of a request using the task id of the request
     * @param taskId  (required)
     * @return AsyncResponseTextAnalysisResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AsyncResponseTextAnalysisResponse get(String taskId) throws ApiException {
        ApiResponse<AsyncResponseTextAnalysisResponse> resp = getWithHttpInfo(taskId);
        return resp.getData();
    }

    /**
     * Tries to get the result of a request using the task id of the request
     * Tries to get the result of a request using the task id of the request
     * @param taskId  (required)
     * @return ApiResponse&lt;AsyncResponseTextAnalysisResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AsyncResponseTextAnalysisResponse> getWithHttpInfo(String taskId) throws ApiException {
        com.squareup.okhttp.Call call = getValidateBeforeCall(taskId, null, null);
        Type localVarReturnType = new TypeToken<AsyncResponseTextAnalysisResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Tries to get the result of a request using the task id of the request (asynchronously)
     * Tries to get the result of a request using the task id of the request
     * @param taskId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAsync(String taskId, final ApiCallback<AsyncResponseTextAnalysisResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getValidateBeforeCall(taskId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AsyncResponseTextAnalysisResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for post
     * @param requestp  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postCall(TextAnalysisRequest requestp, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = requestp;
        
        // create path and map variables
        String localVarPath = "/api/async/text";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "licenseCode" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postValidateBeforeCall(TextAnalysisRequest requestp, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'requestp' is set
        if (requestp == null) {
            throw new ApiException("Missing the required parameter 'requestp' when calling post(Async)");
        }
        
        
        com.squareup.okhttp.Call call = postCall(requestp, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Analyses text and returns tags for it
     * Analyses a text document and returns tags for it  &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;table&gt;&lt;tr&gt;&lt;th&gt;Report Name&lt;/th&gt;&lt;th&gt;Status&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;acronym&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows all the acronyms in your writing and highlights where they haven&#39;t been defined, or have been defined after the first occurrence, or have been defined multiple times..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;alliteration&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights alliterations in your writing. Alliterations are a linguistic tool used by some writers for effect..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;allrepeats&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights words and phrases that you&#39;ve used repeatedly in your text.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;allsentences&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a visual representation of the sentences lengths of your writing. Try and vary the sentence lengths to maintain the interest of the reader..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;bully&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights bullying and vulgar language in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;cliche&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Scours your work for cliches and highlights them. Nobody likes to read a cliche so best to avoid them. Redundant expressions can also be removed as they say the same thing twice..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;closerepeat&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;complex&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights complex words in your writing. Words are broken down by number of syllables..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;consistency&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights inconsistency in your text. Picking up inconsistencies in your text can be one of the hardest editing tasks..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;core&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Core findings.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;coreplus&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Core findings.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;corporate&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights uses of corporate wording that can be simplified to clarify your document..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;dialog&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the dialogue tags in your text. Editors prefer minimal use of all dialogue tags (except for &#39;said&#39;)..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;diction&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a list of possible diction problems and suggestions on how you might revise them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;dva&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights diction problems, vague and abstract words in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;eloquence&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Designed to help you develop your use of stylistic writing techniques such as alliteration, epistrophe, and hendiadys. The items in this report are not suggestions, just aids to help you along the way..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;grammar&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Checks your text for grammar errors and potential word mis-use..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;grammarplus&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Checks your text for grammar errors and potential word mis-use..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;homonym&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Helps you check for incorrect word usage. Homonyms are words which sound alike yet are spelled differently. For example: there, their and they&#39;re or raw and roar..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;house&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;A blank report for you to create your own patterns in. Ideal for a house style. Go to the settings screen to set-up your own patterns. .&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;initial&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the initial pronouns in your text. Repetitive use of initial pronouns can lead to boring text, e.g. He did this. He did that. He did another thing..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;nlp&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Our NLP Predicate Words report allows you to easily identify the key modality or representation system of a piece of text. If you are analyzing a document written by someone else then this will give you an idea of their preferred representational system. This may help you tailor your writing in order to build rapport. If you don&#39;t know the modality of your reader then try to use a balance of words from each modality. This will broaden the appeal of your writing..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overused&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Compares the frequency of commonly overused words in your text to published writing to give you an indication of where you may be over-using words..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overusedonly&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Compares the frequency of commonly overused words in your text to published writing to give you an indication of where you may be over-using words..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overview&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Gives you an overview of the key metrics for your document..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;pacing&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Identifies the slower paced parts of your manuscript, such as introspection and backstory so you can spread them out. Try not to have too many slower paced paragraphs in a row as this can get boring..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;paragraph_readability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows you the relative readability of each paragraph in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;passive&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights areas where your writing style might be improved, such as use of passive and hidden verbs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;phrases&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a summary of all the phrases that you have repeated in your writing. Try and cut down on repeats..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;plagiarism&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Identifies parts of your text that occur in other documents. Scans millions of web-pages, books, and academic papers..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;plength&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;A visual representation of the paragraph lengths of your writing. Avoid writing more than five or six sentences in a paragraph. Also try to avoid too many short paragraphs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;preadability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a series of readability measures for your text so you can determine if it is suitable for your intended audience..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;readability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a series of readability measures for your text so you can determine if it is suitable for your intended audience..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;sentiment&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a histogram of the sentiment in your story so you can monitor large swings..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;sentimentwords&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights words that have a sentiment bias in your text, and grades them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;seo&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Shows how yout text can be optimized to appear higher in Google rankings..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;slength&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a visual representation of the sentences lengths of your writing. Try and vary the sentence lengths to maintain the interest of the reader..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;ssentences&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows sticky sentences in your writing. Sticky sentences slow your reader down; try to avoid them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;ssentences_noglue&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows sticky sentences in your writing. Sticky sentences slow your reader down; try to avoid them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;structure&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the key structure of a document such as sentences and paragraphs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;thesaurus&lt;/td&gt;&lt;td&gt;Beta&lt;/td&gt;&lt;td&gt;Shows possible replacements for nouns, verbs, adjectives and adverbs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;time&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights any temporal references in your text so you can check for inconsistency and view the time-line of your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;topics&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Suggested topics that are related to the subject matter of your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;transition&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the transitions in your report. Transitions help organize ideas. Writing that is short on transitions is often hard to follow. Non-fiction writing that has under 1 transition per 4 sentences tends to be less understandable..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;vague&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a list of words that may be considered vague or abstract. Consider strengthening them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordcloud&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows you a word cloud of the most commonly occuring words in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordsandphrases&lt;/td&gt;&lt;td&gt;Deprecated&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordsphrases&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
     * @param requestp  (required)
     * @return AsyncResponseTextAnalysisResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AsyncResponseTextAnalysisResponse post(TextAnalysisRequest requestp) throws ApiException {
        ApiResponse<AsyncResponseTextAnalysisResponse> resp = postWithHttpInfo(requestp);
        return resp.getData();
    }

    /**
     * Analyses text and returns tags for it
     * Analyses a text document and returns tags for it  &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;table&gt;&lt;tr&gt;&lt;th&gt;Report Name&lt;/th&gt;&lt;th&gt;Status&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;acronym&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows all the acronyms in your writing and highlights where they haven&#39;t been defined, or have been defined after the first occurrence, or have been defined multiple times..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;alliteration&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights alliterations in your writing. Alliterations are a linguistic tool used by some writers for effect..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;allrepeats&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights words and phrases that you&#39;ve used repeatedly in your text.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;allsentences&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a visual representation of the sentences lengths of your writing. Try and vary the sentence lengths to maintain the interest of the reader..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;bully&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights bullying and vulgar language in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;cliche&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Scours your work for cliches and highlights them. Nobody likes to read a cliche so best to avoid them. Redundant expressions can also be removed as they say the same thing twice..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;closerepeat&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;complex&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights complex words in your writing. Words are broken down by number of syllables..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;consistency&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights inconsistency in your text. Picking up inconsistencies in your text can be one of the hardest editing tasks..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;core&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Core findings.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;coreplus&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Core findings.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;corporate&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights uses of corporate wording that can be simplified to clarify your document..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;dialog&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the dialogue tags in your text. Editors prefer minimal use of all dialogue tags (except for &#39;said&#39;)..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;diction&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a list of possible diction problems and suggestions on how you might revise them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;dva&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights diction problems, vague and abstract words in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;eloquence&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Designed to help you develop your use of stylistic writing techniques such as alliteration, epistrophe, and hendiadys. The items in this report are not suggestions, just aids to help you along the way..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;grammar&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Checks your text for grammar errors and potential word mis-use..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;grammarplus&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Checks your text for grammar errors and potential word mis-use..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;homonym&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Helps you check for incorrect word usage. Homonyms are words which sound alike yet are spelled differently. For example: there, their and they&#39;re or raw and roar..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;house&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;A blank report for you to create your own patterns in. Ideal for a house style. Go to the settings screen to set-up your own patterns. .&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;initial&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the initial pronouns in your text. Repetitive use of initial pronouns can lead to boring text, e.g. He did this. He did that. He did another thing..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;nlp&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Our NLP Predicate Words report allows you to easily identify the key modality or representation system of a piece of text. If you are analyzing a document written by someone else then this will give you an idea of their preferred representational system. This may help you tailor your writing in order to build rapport. If you don&#39;t know the modality of your reader then try to use a balance of words from each modality. This will broaden the appeal of your writing..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overused&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Compares the frequency of commonly overused words in your text to published writing to give you an indication of where you may be over-using words..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overusedonly&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Compares the frequency of commonly overused words in your text to published writing to give you an indication of where you may be over-using words..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overview&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Gives you an overview of the key metrics for your document..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;pacing&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Identifies the slower paced parts of your manuscript, such as introspection and backstory so you can spread them out. Try not to have too many slower paced paragraphs in a row as this can get boring..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;paragraph_readability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows you the relative readability of each paragraph in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;passive&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights areas where your writing style might be improved, such as use of passive and hidden verbs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;phrases&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a summary of all the phrases that you have repeated in your writing. Try and cut down on repeats..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;plagiarism&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Identifies parts of your text that occur in other documents. Scans millions of web-pages, books, and academic papers..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;plength&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;A visual representation of the paragraph lengths of your writing. Avoid writing more than five or six sentences in a paragraph. Also try to avoid too many short paragraphs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;preadability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a series of readability measures for your text so you can determine if it is suitable for your intended audience..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;readability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a series of readability measures for your text so you can determine if it is suitable for your intended audience..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;sentiment&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a histogram of the sentiment in your story so you can monitor large swings..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;sentimentwords&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights words that have a sentiment bias in your text, and grades them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;seo&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Shows how yout text can be optimized to appear higher in Google rankings..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;slength&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a visual representation of the sentences lengths of your writing. Try and vary the sentence lengths to maintain the interest of the reader..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;ssentences&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows sticky sentences in your writing. Sticky sentences slow your reader down; try to avoid them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;ssentences_noglue&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows sticky sentences in your writing. Sticky sentences slow your reader down; try to avoid them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;structure&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the key structure of a document such as sentences and paragraphs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;thesaurus&lt;/td&gt;&lt;td&gt;Beta&lt;/td&gt;&lt;td&gt;Shows possible replacements for nouns, verbs, adjectives and adverbs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;time&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights any temporal references in your text so you can check for inconsistency and view the time-line of your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;topics&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Suggested topics that are related to the subject matter of your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;transition&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the transitions in your report. Transitions help organize ideas. Writing that is short on transitions is often hard to follow. Non-fiction writing that has under 1 transition per 4 sentences tends to be less understandable..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;vague&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a list of words that may be considered vague or abstract. Consider strengthening them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordcloud&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows you a word cloud of the most commonly occuring words in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordsandphrases&lt;/td&gt;&lt;td&gt;Deprecated&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordsphrases&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
     * @param requestp  (required)
     * @return ApiResponse&lt;AsyncResponseTextAnalysisResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AsyncResponseTextAnalysisResponse> postWithHttpInfo(TextAnalysisRequest requestp) throws ApiException {
        com.squareup.okhttp.Call call = postValidateBeforeCall(requestp, null, null);
        Type localVarReturnType = new TypeToken<AsyncResponseTextAnalysisResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Analyses text and returns tags for it (asynchronously)
     * Analyses a text document and returns tags for it  &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;table&gt;&lt;tr&gt;&lt;th&gt;Report Name&lt;/th&gt;&lt;th&gt;Status&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;acronym&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows all the acronyms in your writing and highlights where they haven&#39;t been defined, or have been defined after the first occurrence, or have been defined multiple times..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;alliteration&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights alliterations in your writing. Alliterations are a linguistic tool used by some writers for effect..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;allrepeats&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights words and phrases that you&#39;ve used repeatedly in your text.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;allsentences&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a visual representation of the sentences lengths of your writing. Try and vary the sentence lengths to maintain the interest of the reader..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;bully&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights bullying and vulgar language in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;cliche&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Scours your work for cliches and highlights them. Nobody likes to read a cliche so best to avoid them. Redundant expressions can also be removed as they say the same thing twice..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;closerepeat&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;complex&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights complex words in your writing. Words are broken down by number of syllables..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;consistency&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights inconsistency in your text. Picking up inconsistencies in your text can be one of the hardest editing tasks..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;core&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Core findings.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;coreplus&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Core findings.&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;corporate&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights uses of corporate wording that can be simplified to clarify your document..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;dialog&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the dialogue tags in your text. Editors prefer minimal use of all dialogue tags (except for &#39;said&#39;)..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;diction&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a list of possible diction problems and suggestions on how you might revise them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;dva&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights diction problems, vague and abstract words in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;eloquence&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Designed to help you develop your use of stylistic writing techniques such as alliteration, epistrophe, and hendiadys. The items in this report are not suggestions, just aids to help you along the way..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;grammar&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Checks your text for grammar errors and potential word mis-use..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;grammarplus&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Checks your text for grammar errors and potential word mis-use..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;homonym&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Helps you check for incorrect word usage. Homonyms are words which sound alike yet are spelled differently. For example: there, their and they&#39;re or raw and roar..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;house&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;A blank report for you to create your own patterns in. Ideal for a house style. Go to the settings screen to set-up your own patterns. .&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;initial&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the initial pronouns in your text. Repetitive use of initial pronouns can lead to boring text, e.g. He did this. He did that. He did another thing..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;nlp&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Our NLP Predicate Words report allows you to easily identify the key modality or representation system of a piece of text. If you are analyzing a document written by someone else then this will give you an idea of their preferred representational system. This may help you tailor your writing in order to build rapport. If you don&#39;t know the modality of your reader then try to use a balance of words from each modality. This will broaden the appeal of your writing..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overused&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Compares the frequency of commonly overused words in your text to published writing to give you an indication of where you may be over-using words..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overusedonly&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Compares the frequency of commonly overused words in your text to published writing to give you an indication of where you may be over-using words..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;overview&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Gives you an overview of the key metrics for your document..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;pacing&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Identifies the slower paced parts of your manuscript, such as introspection and backstory so you can spread them out. Try not to have too many slower paced paragraphs in a row as this can get boring..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;paragraph_readability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows you the relative readability of each paragraph in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;passive&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights areas where your writing style might be improved, such as use of passive and hidden verbs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;phrases&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a summary of all the phrases that you have repeated in your writing. Try and cut down on repeats..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;plagiarism&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Identifies parts of your text that occur in other documents. Scans millions of web-pages, books, and academic papers..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;plength&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;A visual representation of the paragraph lengths of your writing. Avoid writing more than five or six sentences in a paragraph. Also try to avoid too many short paragraphs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;preadability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a series of readability measures for your text so you can determine if it is suitable for your intended audience..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;readability&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a series of readability measures for your text so you can determine if it is suitable for your intended audience..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;sentiment&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a histogram of the sentiment in your story so you can monitor large swings..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;sentimentwords&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Highlights words that have a sentiment bias in your text, and grades them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;seo&lt;/td&gt;&lt;td&gt;Development&lt;/td&gt;&lt;td&gt;Shows how yout text can be optimized to appear higher in Google rankings..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;slength&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows a visual representation of the sentences lengths of your writing. Try and vary the sentence lengths to maintain the interest of the reader..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;ssentences&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows sticky sentences in your writing. Sticky sentences slow your reader down; try to avoid them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;ssentences_noglue&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows sticky sentences in your writing. Sticky sentences slow your reader down; try to avoid them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;structure&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the key structure of a document such as sentences and paragraphs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;thesaurus&lt;/td&gt;&lt;td&gt;Beta&lt;/td&gt;&lt;td&gt;Shows possible replacements for nouns, verbs, adjectives and adverbs..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;time&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights any temporal references in your text so you can check for inconsistency and view the time-line of your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;topics&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Suggested topics that are related to the subject matter of your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;transition&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights the transitions in your report. Transitions help organize ideas. Writing that is short on transitions is often hard to follow. Non-fiction writing that has under 1 transition per 4 sentences tends to be less understandable..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;vague&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Provides a list of words that may be considered vague or abstract. Consider strengthening them..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordcloud&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Shows you a word cloud of the most commonly occuring words in your text..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordsandphrases&lt;/td&gt;&lt;td&gt;Deprecated&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;wordsphrases&lt;/td&gt;&lt;td&gt;Live&lt;/td&gt;&lt;td&gt;Highlights any words and phrases that you have repeated within a short space of writing. Try and think of something else to say..&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;
     * @param requestp  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postAsync(TextAnalysisRequest requestp, final ApiCallback<AsyncResponseTextAnalysisResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postValidateBeforeCall(requestp, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AsyncResponseTextAnalysisResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
